body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: #eee;
  -moz-user-select: none;
  -ms-user-select: none;    
  background: #eee;
  text-align: center;
}
