body {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: #eee;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: #eee;
  text-align: center;
}
